.header-mobile {
  display: none;
}

.menu {
  z-index: 2;
}

.menu-close {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    display: none;
  }

  .header-mobile {
    max-width: 768px;
    width: 100%;
    padding: 3.7rem 2.5rem 2.5rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-menu-mobile);
  }

  .container-center.active .menu-open {
    display: none;
  }
  .container-center.active .menu-close {
    display: block;
  }
}
